*{
  margin:0;  
  background-color: white;
}

.main{
  text-align: center;
}

.items{
  padding: 20px;
  overflow: hidden ;
  border: 1px solid black;
  width: 400px;
  height: 150px;
  margin: 10px;
  text-align: left ;
  color: white;
}
.notes{
  display: flex ;
  align-items: baseline;
  width: 100%;
}
.colorBlue{ 
  background-color: blue;
  border-radius: 50px;
  width:20px;
  height:20px;
  margin-top:10px;;

}
.colorRed{ 
  background-color: red;
  border-radius: 50%;
  width:20px;
  height:20px;
  margin-top:10px;
}
.colorBlack{ 
  background-color: black;
  border-radius: 50%;
  width:20px;
  height:20px;
  margin-top:10px;
}
.colorPurple{ 
  background-color: purple;
  border-radius: 50%;
  width:20px;
  height:20px;
  margin-top:10px;
}

.input-input{
  padding: 20px;
  border: 1px solid black;
  width: 400px;
  height: 150px;
  margin: 10px;
  text-align: left ;
  align-self: first baseline;
}